---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

<br>

<table>
  <tr>
    <th style="width: 100px;">Date (YY-MM-DD)</th>
    <th>Talk title</th>
    <th>Event</th>
    <th>Location</th>
  </tr>
  <tr>
    <td style="width: 100px;">2025-04-25</td>
    <td>Probabl: présentation des librairies skore et skrub [<a
        href="https://www.youtube.com/live/cy4cDEHX4-E?si=fqQa-wnlK4mNNOR6">recording</a>]</td>
    <td><a href="http://www.idris.fr/panoramia.html">Séminaire Panoram'IA</a></td>
    <td>IDRIS - CNRS, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2024-08-28</td>
    <td>ASTRIDE: symbolic representation for time series</td>
    <td><a href="https://www.cloud-conf.net/icdm2023/index.html">2024 European Signal Processing Conference
        (EUSIPCO)</a>
    </td>
    <td>Lyon, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2024-05-02</td>
    <td>$d_{symb}$ playground: an interactive tool to explore large multivariate time series datasets</td>
    <td><a href="https://www.sorbonne-universite.fr/evenements/vers-une-supply-chain-alimentaire-durable">Towards a
        Sustainable Food Supply Chain: Pool, Optimize and Decarbonize Flows using AI</a> conference organized by <a
        href="https://www.califrais.fr/">Califrais</a> and <a href="https://scai.sorbonne-universite.fr/">SCAI (Sorbonne
        Center for Artificial Intelligence)</a>, thanks to <a href="https://afermanian.github.io/">Adeline
        Fermanian</a> for the invitation</td>
    <td>Sorbonne Université, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2024-04-09</td>
    <td>An overview of my PhD's work on symbolic representations for large data sets of multivariate time series</td>
    <td><a href="https://centreborelli.ens-paris-saclay.fr/fr/SMLMDA">Machine Learning and Massive Data Analysis (MLMDA)
        seminar</a> organized by <a href="https://kalogeratos.com/psite/">Argyris Kalogeratos</a></td>
    <td>ENS Paris-Saclay, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2024-03-07</td>
    <td>$d_{symb}$ playground: an interactive tool to explore large multivariate time series datasets</td>
    <td>Entrepreneur First - <a href=" https://lu.ma/rfwio7jg">Pitch Your Thesis: AI edition</a></td>
    <td>Station F, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2024-01-08</td>
    <td>Symbolic representations of time series</td>
    <td><a href="https://centreborelli.ens-paris-saclay.fr/en/events/phd-defense-sylvain-combettes">PhD defense</a>
    </td>
    <td>ENS Paris-Saclay, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2023-12-07</td>
    <td>An Interpretable Distance Measure for Multivariate Non-Stationary Physiological Signals</td>
    <td><a href="https://www.dataia.eu/en/news/aidata-science-paris-saclay-students-day-3rd-edition">3rd UDOPIA Doctoral
        Students Day</a>
    </td>
    <td>CentraleSupélec, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2023-12-01</td>
    <td>An Interpretable Distance Measure for Multivariate Non-Stationary Physiological Signals</td>
    <td><a href="https://www.cloud-conf.net/icdm2023/index.html">2023 International Conference on Data Mining
        (ICDM)</a>, <a href="https://ai4ts.github.io/icdm2023">AI4TS workshop</a>
    </td>
    <td>Shanghai, China</td>
  </tr>
  <tr>
    <td style="width: 100px;">2023-02-23</td>
    <td>ASTRIDE: Adaptive Symbolization for Time Series Databases</td>
    <td><a href="https://js-psc.github.io/">IA & digital healthcare junior seminar</a> organized by
      <a href="https://pierreclavier.github.io/aboutme/">Pierre Clavier</a> and <a
        href="https://www.linusbleistein.com/">Linus Bleistein</a> from the <a href="https://team.inria.fr/heka/">HeKa
        team of
        Inria</a>
    </td>
    <td>PariSanté Campus, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2023-01-13</td>
    <td>Symbolic representation for time series</td>
    <td><a href="https://inc.parisdescartes.fr/fr/2022/12/le-vendredi-13-de-linc/">Le Vendredi 13 de l'INC!</a></td>
    <td>Université Paris-Cité, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2022-12-05</td>
    <td>ASTRIDE: Adaptive Symbolization for Time Series Databases</td>
    <td><a href="https://www.dataia.eu/en/events/2nd-annual-aidata-science-phd-day-udopia">2nd UDOPIA Doctoral Students
        Day</a>
    </td>
    <td>CentraleSupélec, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2021-12-15</td>
    <td>Symbolic representation for time series</td>
    <td><a href="https://dataia.eu/en/events/1st-annual-udopia-doctoral-student-day">1st UDOPIA Doctoral Students
        Day</a>
    </td>
    <td>CentraleSupélec, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2021-06-01</td>
    <td>Symbolic representation for time series</td>
    <td><a href="https://centreborelli.ens-paris-saclay.fr/fr/M%26Ms">Séminaire Médecine et
        Mathématiques (M&Ms)</a> organized by <a href="http://www.laurentoudre.fr/">Laurent Oudre</a>
    </td>
    <td>ENS Paris-Saclay, France</td>
  </tr>
  <tr>
    <td style="width: 100px;">2021-02-23</td>
    <td>Symbolic representation for time series</td>
    <td><a href="https://centreborelli.ens-paris-saclay.fr/fr/SMLMDA">Machine Learning and Massive Data Analysis (MLMDA)
        seminar</a> organized by <a href="https://kalogeratos.com/psite/">Argyris Kalogeratos</a></td>
    <td>ENS Paris-Saclay, France</td>
  </tr>
</table>

<!-- {% for post in site.talks reversed %}
{% include archive-single-talk.html %}
{% endfor %} -->