---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<br>

<table>
  <tr>
    <td rowspan="2" style="width: 100px;">Sep. 2024 &ndash; <i>present</i></td>
    <td><a href="https://exed.centralesupelec.fr"><b>CentraleSupélec Exed</b></a></td>
    <td><i>Adjunct Professor</i></td>
    <td>Paris area, France</td>
  </tr>
  <tr>
    <td colspan="3">
      <ul>
        <li><i>Développement Python pour l'apprentissage</i> class of the <a
            href="https://exed.centralesupelec.fr/formation/mastere-specialiseintelligence-artificielle-de-confiance">Mastère
            Spécialisé® Intelligence Artificielle de Confiance</a>.</li>
        <li>Sep. &ndash; Oct. 2024: 24 hours.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td rowspan="2" style="width: 100px;">Sep. 2022 &ndash; <i>present</i></td>
    <td><a href="https://en.wikipedia.org/wiki/%C3%89cole_polytechnique"><b>Ecole Polytechnique</b></a> and <a
        href="https://en.wikipedia.org/wiki/HEC_Paris"><b>HEC Paris</b></a></td>
    <td><i>Adjunct Professor</i></td>
    <td>Paris area, France</td>
  </tr>
  <tr>
    <td colspan="3">
      <ul>
        <li><i>Python for Data Science</i> class of the <a
            href="https://programmes.polytechnique.edu/en/master/programs/data-science-for-business-joint-degree-with-hec">X-HEC
            Data Science for Business Master</a>.</li>
        <li>Sep. &ndash; Nov. 2024: 18.5 hours in collaboration with <a href="https://mathurinm.github.io">Mathurin
            Massias</a>, <a href="https://www.linkedin.com/in/badr-moufad">Badr Moufad</a>, and <a
            href="https://www.linkedin.com/in/julie-alberge">Julie Alberge</a>. Links: <a
            href="https://moodle.polytechnique.fr/course/view.php?id=19057">Moodle</a>.
        </li>
        <li>Sep. &ndash; Dec. 2022: 42 hours in collaboration with <a href="https://mathurinm.github.io">Mathurin
            Massias</a> and
          <a href="https://jjerphan.xyz">Julien Jerphanion</a>. Links: <a
            href="https://moodle.polytechnique.fr/enrol/index.php?id=14764">Moodle</a>.
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td rowspan="2" style="width: 100px;">Apr. 2021 &ndash; <i>present</i></td>
    </td>
    <td><a href="https://exed.polytechnique.edu/"><b>Ecole Polytechnique Executive Education</b></a></td>
    <td><i>Adjunct Professor</i></td>
    <td>Paris area, France</td>
  </tr>
  <tr>
    <td colspan="3">
      <ul>
        <li>Approx. 100 hours for the <a href="https://exed.polytechnique.edu/formations/data/data-science">Data Science
            Starter Program (DSSP)</a> and the <a
            href="https://www.ensta-paris.fr/fr/mastere-specialise-innovation-and-entrepreneurship">Master
            Spécialisé Innovation & Entrepreneurship (MSIE)</a>.</li>
        <li>In collaboration with <a href="http://www.cmap.polytechnique.fr/~lepennec/en/">Erwan Le Pennec</a>, <a
            href="https://mathurinm.github.io/">Mathurin Massias</a>, etc.
        </li>
        <li>Links: <a href="https://elearnx.polytechnique-exed.com/my/">Moodle</a>.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td rowspan="2" style="width: 100px;">Feb. &ndash; May 2021</td>
    </td>
    <td><a href="https://en.wikipedia.org/wiki/Paris-Panth%C3%A9on-Assas_University"><b>Université Paris 2
          Panthéon-Assas</b></a></td>
    <td><i>Teaching Assistant</i></td>
    <td>Paris, France</td>
  </tr>
  <tr>
    <td colspan="3">
      <ul>
        <li>36 hours in Mathematics and Statistics for the <a
            href="https://www.u-paris2.fr/fr/formations/offre-de-formation/licence-economie-et-gestion">Bachelor’s
            degree in Economics and Management</a>, both Classical Track and College of Economics.</li>
        <li>In collaboration with <a
            href="https://www.u-paris2.fr/fr/universite/enseignants-chercheurs/mme-naila-hayek">Naila Hayek</a>.
        </li>
        <li>Links: <a href="https://agorassas.u-paris2.fr/course/view.php?id=30409">Moodle Mathematics</a>, <a
            href="https://agorassas.u-paris2.fr/course/view.php?id=30410">Moodle Statistics</a>.</li>
      </ul>
    </td>
  </tr>
</table>

<!-- {% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %} -->