<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>{{ page.title }}</title>

	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<script src="https://kit.fontawesome.com/0fd5439e47.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>


<body>
<nav>
<ul>
<li><a href="/"> <i class="fas fa-home"></i> Home </a></li>
<li><a href="/cv"> <i class="far fa-address-card"></i> CV </a></li>
<li><a href="/projects"> <i class="fas fa-code-branch"></i> Projects </a></li>
<li><a href="/blog"> <i class="fas fa-book-open"></i> Blog </a></li>
</ul>

</nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://www.linkedin.com/in/sylvain-combettes" target="_blank"> <i class="fab fa-linkedin-in"></i> LinkedIn</a></li>
   <li><a href="https://twitter.com/sylvaincom" target="_blank"> <i class="fab fa-twitter"></i> Twitter </a></li>
   <li><a href="https://github.com/sylvaincom" target="_blank"> <i class="fab fa-github"></i> GitHub </a></li>   
   </ul>
  </footer>
</body>

</html>
